@charset "utf-8";
/* CSS Document */
<style>
body{ width:100%;  
      margin:0; 
	  padding:0; 
	  border:none;
	  background-position:center;
	  background-size:cover;
	  }
*{ font-family: "微软雅黑";}
img{border: none; outline:none;}
input{ border:none;}

.big_box{ width:38em; 
	          height:26em; 
			  margin:auto;
			  padding-top:2em; 
			  margin-top:10em;
	          background-image:url(img/big_box.png); 
              border-radius:3px; 
              box-shadow: 2px 3.464px 8px 0px rgba( 35, 24, 21, .1 );
              z-index: 0;}
	
	.title_box{ margin-bottom:1.6em; 
	            width:100%;
				color:#323232; 
                font-size:1.8em;
			    text-align:center;}
	

    .login_box div{ margin-bottom:2em;}
	.userbox input,.passwordbox input{ border-radius:6px; 
                                   width:34em;
								   height:4.4em; 
                                   background-color:transparent; 
	                               border:solid 2px #1c4565;
	                               color:#323232;
								   margin-left:7%;
								   padding-left:5em;}
	.userbox img{ left:4em;
	              top:0.8em;
				  width:5%;}
	.passwordbox img{ left:4em;
	                  top:0.8em;
					  width:4.6%;}

    .userbox{ position:relative;}
    .userbox img{ position:absolute; }
   .passwordbox{ position:relative; }
   .passwordbox img{ position:absolute;}
   

   
   .login_button{ width:100%;
                  margin:auto;}
   .login{ margin-left:7.2%;}
   .replacement{ margin-left:2.4%;}
   .login_button input{ width:13.1em;
                     height:3em; 
                     border-radius:6px;
                     padding:0; 
					 text-align:center;
					 background-color:#1c4565;
					 font-size:1.2em; 
					 color:ffffff;}
					 
	/*.bottom_box{ 
	             position:absolute;
	             left:35%;
				 bottom:10%;}*/
   .bottom_box1{ font-size:0.8em;
                 width:22em;
			     margin:auto;
			     margin-top:8%;}
   .bottom_box1 td{ width:6em;
				    text-align:center;}
   .bottom_box2{ font-size:0.8em;
                 width:40em;
			     margin:auto;}	
   .bottom_box2 td{ width:10em;}	

@media screen and (max-width: 1281px){
	.big_box{ width:30em; 
	          height:22em; 
			  padding-top:2em; 
			  margin-top:6em;
	          }
	
	.title_box{ margin-bottom:1.6em; 
	             
                font-size:1em;
			   }
	

    .login_box div{ margin-bottom:2em;}
	.userbox input,.passwordbox input{ border-radius:6px; 
                                   width:25em;
								   height:3.2em; 
                                  
								   margin-left:7%;
								   padding-left:5em;}
	.userbox img{ left:3.4em;
	              top:0.6em;
				  width:5%;}
	.passwordbox img{ left:3.4em;
	                  top:0.6em;
					  width:4.6%;}

 
   
   .login{ margin-left:7.4%;}
   .replacement{ margin-left:2.4%;}
   .login_button input{ width:10em;
                     height:2.6em; 
                     
                     padding:0; 
					
					 font-size:1.2em; 
					 }
   .bottom_box1{ font-size:0.8em;
                 width:22em;
			     margin:auto;
			     margin-top:4%; }
   .bottom_box1 td{ width:6em;}
   .bottom_box2{ font-size:0.8em;
                 width:40em;}	
   .bottom_box2 td{ width:10em;}	

}
@media screen and (min-width:1281px) and (max-width: 1600px){

	.big_box{ width:30em; 
	          height:22em; 
			  padding-top:2em; 
			  margin-top:6em;
	          }
	
	.title_box{ margin-bottom:1.6em; 
	             
                font-size:1em;
			   }
	

    .login_box div{ margin-bottom:2em;}
	.userbox input,.passwordbox input{ border-radius:6px; 
                                   width:25em;
								   height:3.2em; 
                                  
								   margin-left:7%;
								   padding-left:5em;}
	.userbox img{ left:3.4em;
	              top:0.6em;
				  width:5%;}
	.passwordbox img{ left:3.4em;
	                  top:0.6em;
					  width:4.6%;}

 
   
   .login{ margin-left:7.4%;}
   .replacement{ margin-left:2.4%;}
   .login_button input{ width:10em;
                     height:2.6em; 
                     
                     padding:0; 
					
					 font-size:1.2em; 
					 }
   .bottom_box1{ font-size:0.8em;
                 width:22em;
			     margin:auto;
			     margin-top:4%; }
   .bottom_box1 td{ width:6em;}
   .bottom_box2{ font-size:0.8em;
                 width:40em;}	
   .bottom_box2 td{ width:10em;}	
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
	
}




</style>
